<div class="container">
	<div class="row">
	   <div class="col-md-12 profileedit">
            {{ form.picture }}
			<h3>
                                azher basha
            </h3>
            <p class="customer">
                    administrator
            </p>
        </div>
	   <div class="col-md-6 nametext">          
		{{ form.frist_name }}
		</div>
		<div class="col-md-6 nametext"> 
		{{ form.last_name }}
        </div>
        <div class="col-md-6 nametext">          
		{{ form.phone_number }}
		</div>
		<div class="col-md-6 nametext"> 
		{{ form.e_mail }}
        </div>
        <div class="col-md-12">
            {{ form.address }}
        </div>
        <div class="col-md-6 nametext">          
		{{ form.state }}
		</div>
		<div class="col-md-6 nametext"> 
        {{ form.city }}
        </div>
       <div class="col-md-6 nametext">          
		{{ form.zipcode }}
		</div>
		<div class="col-md-6 nametext"> 
		{{ form.country }}
        </div>
        <div class="clearfix"></div>
	</div>
</div>

{{ form|without('frist_name', 'last_name', 'phone_number', 'e_mail', 'address', 'state', 'city', 'zipcode', 'country', 'picture' ) }}
